
<div class="jumbotron text-center">
  <h1>Mini-Wantedly Clone!</h1>
  <p>reproduce skill section of Wantedly profile</p> 
</div>

<h1>Users</h1>
<% @users.each do |user| %>
	<ul>
		<li><%=link_to(user.name, user_path(user))%></li>
	</ul>
<% end %>
