<div class="container">
  <div class="jumbotron">
    <h1><%=@skill.name%></h1> 
  </div>

  <ul>
	<% @skill.users.each do |user| %>
		<h1><span class="label"><%=link_to(user.name, user_path(user))%></span></h1>

	<% end %>
  </ul>
</div>